// MARVEL BATTLEAPP
// FOOTER STYLING

#footer-bar {
	background-color: $marvel-navy;
	padding: 4%;
	box-sizing: border-box;

	h6 {
		font-size: 1.00em;
		text-align: center;
		color: #ffffff;
		margin-bottom: 1%;
	}
}