// MARVEL BATTLEAPP
// GLOBAL STYLING

* {
	margin: 0%;
	padding: 0%;
}

html {
	height: auto;
	width: 100vw;
	background-color: $marvel-bluegray;
	background-image: url("../img/background-pattern.png");
	background-size: 2%;
}

body {
	height: auto;
	width: 90%;
	margin: 0% auto;
	background-color: rgba(255,255,255,0.90);
	box-shadow: 0px 0px 6px $design-grayscale16;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

#content-wrapper {
	height: auto;
	width: 100%;
}

.clearfix {
	zoom: 1;

	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.clear {
	clear: both;
}