// PAGE TEMPLATE SITE
// GLOBAL STYLING

* {
	margin: 0%;
	padding: 0%;

	@media screen and (min-width: 400px) {}
	@media screen and (min-width: 600px) {}
	@media screen and (min-width: 800px) {}
	@media screen and (min-width: 1000px) {}
	@media screen and (min-width: 1200px) {}
}

html {
	height: auto;
	width: 100vw;

	@media screen and (min-width: 400px) {}
	@media screen and (min-width: 600px) {}
	@media screen and (min-width: 800px) {}
	@media screen and (min-width: 1000px) {}
	@media screen and (min-width: 1200px) {}
}

body {
	@media screen and (min-width: 400px) {}
	@media screen and (min-width: 600px) {}
	@media screen and (min-width: 800px) {}
	@media screen and (min-width: 1000px) {}
	@media screen and (min-width: 1200px) {}
}

#content-wrapper {
	height: auto;
	width: auto;

	@media screen and (min-width: 400px) {}
	@media screen and (min-width: 600px) {}
	@media screen and (min-width: 800px) {}
	@media screen and (min-width: 1000px) {}
	@media screen and (min-width: 1200px) {}
}