// PAGE TEMPLATE SITE
// PAGE GRID - 12 COLUMN

.grid-1 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 50.00%;
	}
	@media screen and (min-width: 600px) {
		width: 25.00%;
	}
	@media screen and (min-width: 800px) {
		width: 8.33%;
	}
	@media screen and (min-width: 1000px) {
		width: 8.33%;
	}
	@media screen and (min-width: 1200px) {
		width: 8.33%;
	}
}

.grid-2 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 50.00%
	}
	@media screen and (min-width: 600px) {
		width: 25.00%;
	}
	@media screen and (min-width: 800px) {
		width: 16.66%
	}
	@media screen and (min-width: 1000px) {
		width: 16.66%;
	}
	@media screen and (min-width: 1200px) {
		width: 16.66%;
	}
}

.grid-3 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 50.00%;
	}
	@media screen and (min-width: 600px) {
		width: 25.00%;
	}
	@media screen and (min-width: 800px) {
		width: 25.00%;
	}
	@media screen and (min-width: 1000px) {
		width: 25.00%;
	}
	@media screen and (min-width: 1200px) {
		width: 25.00%;
	}
}

.grid-4 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 50.00%;
	}
	@media screen and (min-width: 600px) {
		width: 33.33%;
	}
	@media screen and (min-width: 800px) {
		width: 33.33%;
	}
	@media screen and (min-width: 1000px) {
		width: 33.33%;
	}
	@media screen and (min-width: 1200px) {
		width: 33.33%;
	}
}

.grid-5 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 50.00%;
	}
	@media screen and (min-width: 600px) {
		width: 50.00%;
	}
	@media screen and (min-width: 800px) {
		width: 41.66%;
	}
	@media screen and (min-width: 1000px) {
		width: 41.66%;
	}
	@media screen and (min-width: 1200px) {
		width: 41.66%;
	}
}

.grid-6 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 50.00%;
	}
	@media screen and (min-width: 800px) {
		width: 50.00%;
	}
	@media screen and (min-width: 1000px) {
		width: 50.00%;
	}
	@media screen and (min-width: 1200px) {
		width: 50.00%;
	}
}

.grid-7 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 50.00%;
	}
	@media screen and (min-width: 800px) {
		width: 58.33%;
	}
	@media screen and (min-width: 1000px) {
		width: 58.33%;
	}
	@media screen and (min-width: 1200px) {
		width: 58.33%;
	}
}

.grid-8 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 66.66%;
	}
	@media screen and (min-width: 800px) {
		width: 66.66%;
	}
	@media screen and (min-width: 1000px) {
		width: 66.66%;
	}
	@media screen and (min-width: 1200px) {
		width: 66.66%;
	}
}

.grid-9 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 75.00%;
	}
	@media screen and (min-width: 800px) {
		width: 75.00%;
	}
	@media screen and (min-width: 1000px) {
		width: 75.00%;
	}
	@media screen and (min-width: 1200px) {
		width: 75.00%;
	}
}

.grid-10 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 100%;
	}
	@media screen and (min-width: 800px) {
		width: 83.33%;
	}
	@media screen and (min-width: 1000px) {
		width: 83.33%;
	}
	@media screen and (min-width: 1200px) {
		width: 83.33%;
	}
}

.grid-11 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 100.00%;
	}
	@media screen and (min-width: 800px) {
		width: 91.66%;
	}
	@media screen and (min-width: 1000px) {
		width: 91.66%;
	}
	@media screen and (min-width: 1200px) {
		width: 91.66%;
	}
}

.grid-12 {
	width: 100.00%;

	@media screen and (min-width: 400px) {
		width: 100.00%;
	}
	@media screen and (min-width: 600px) {
		width: 100.00%;
	}
	@media screen and (min-width: 800px) {
		width: 100.00%;
	}
	@media screen and (min-width: 1000px) {
		width: 100.00%
	}
	@media screen and (min-width: 1200px) {
		width: 100.00%;
	}
}