// MARVEL BATTLEAPP
// PAGE STYLING

.page-banner-parent {
	height: auto;
	width: 100%;
	display: block;
}

.button {
	height: auto;
	width: auto;
	display: block;
	padding: 2% 0%;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid $marvel-bluegray;
	font-family: Cinzel;
	font-weight: 400;
	font-size: 1.00em;
	text-align: center;
	color: $marvel-bluegray;

	&:hover {
		background-color: $marvel-bluegray;
		color: $marvel-white;
	}
}

.textbanner-blue {
	height: auto;
	width: 100%;
	display: block;
	padding: 4%;
	box-sizing: border-box;
	background-color: $marvel-bluegray;
	text-align: center;
	color: $marvel-white;
}

a {
	img {
		&:hover {
			background-color: $marvel-white;
			opacity: 0.80;
		}
	}
}